/*
Great Dark Theme Article:
https://medium.com/@mwichary/dark-theme-in-a-day-3518dde2955a
*/

:root {
  --body-color: #1a2632;
  --accent-color: #243447;
  --depth-color: #151f29;
  --border-color: #304251;
  --link-color: #03A9F4;
  --icon-color: #8899a6;
  --primary-text-color: #ffffff;
  --secondary-text-color: #607d8b;
  --code-blob-color: #537698;
  --code-color: #6d6d72;
}

@media (prefers-color-scheme: dark) {
  
  img {
    opacity: .75;
    transition: opacity .5s ease-in-out;
  }
  img:hover {
    opacity: 1;
  }

  html {
    --text-font-size-normal: 1rem;
    --text-color-normal: #e1e1e1;
    --text-color-light: #b8b8b8;

    
    --background: rgb(35,33,32); 
    --background-light: rgb(48,	47,	46);
    --background-highlight: rgb(200,	203,	210);
  }
  
  body {
    
    color: rgb(208, 208, 208);
    transition: opacity .5s ease-in-out;
    
  }
}


@media (prefers-color-scheme: light) {
  html {
    --background: rgb(255,	255,	255);
    --background-light: rgb(246,	246,	246);
    --background-highlight: rgb(105,	107,	108	);
    --text-color-normal: black;
    --text-color-light: #2c343f;
    --text-font-size-normal: 1rem;
  }
}

html[data-theme='dark'] {

  --hue: 210;
/* Blue */
  --accent-hue: 25;
 /* Orange */
  --text-color-normal: hsl(var(--hue), 10%, 62%);
  --text-color-light: hsl(var(--hue), 15%, 35%);
  --text-color-richer: hsl(var(--hue), 50%, 72%);
  --text-color-highlight: hsl(var(--accent-hue), 70%, 45%);
  --link-color: hsl(var(--hue), 90%, 70%);
  --accent-color: hsl(var(--accent-hue), 100%, 70%);
  --error-color: rgb(240, 50, 50);
  --button-background: hsl(var(--hue), 63%, 43%);
  --button-text-color: black;
  /*--background: hsl(var(--hue), 20%, 12%);*/
}

html {
  background-color: var(--background);
}

body {
    color: var(--text-color-normal);
    font-size: var(--text-font-size-normal); 
}





  .latex {
      /* http://blog.dreasgrech.com/2009/12/jslatex-jquery-plugin-to-directly-embed.html */
      text-align: center;
  }

  /**
   * Navbar Style
   */
   
   nav#navbar {
      padding-left: 2rem;
      padding-right: 2rem;
      background-color: var(--background-light) !important;
      color: var(--text-color-highlight) !important;
   }

   nav#navbar a, nav#navbar a.navbar-item, nav#navbar .navbar-dropdown {
    background-color: var(--background-light) !important;
    color: var(--text-color-highlight) !important;
  }
   
  nav#navbar a:hover, nav#navbar a.navbar-item:hover {
    background-color: var(--background) !important;
    color: var(--text-color-highlight) !important;
  }

  nav#navbar hr {
    background-color: var(--background-highlight) !important;
  }

/*
 * Blog posts
 */
  .blog-post {
    font-family: Latin Modern;
    margin-bottom: 5rem;
    font-size: 1.25rem;
    max-width: 720px;
  }

  #blog-post-title {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 3rem;
    color: var(--text-color-title);
  }

  #blog-post-subtitle {
    margin-bottom: .5rem;
    font-size: 1.75rem;
    color: var(--text-color-title);
  }


  .blog-post-meta {
    margin-bottom: 1.25rem;
    color: #999;
  }
  .content .post-body p:first-child::first-letter { 
    /*font-size: 300%;*/
    font-weight: bold;
    -webkit-initial-letter: 2;
    initial-letter: 2;
    margin-right: 0.2em;
    /* Enables floating */
    /*float: left;*/ 
    /*margin-right: 0.2em;
    line-height: 1.0;*/
  }

  /*
  .content .quote {
    font-size: 150%;
    background-color: var(--background-light);
    font-style: italic;
    color: var(--text-color-light);
    border-left-color: var(--text-color-light);
  }
*/


  .content blockquote.quote {
    display: block;
    border-width: 2px 0;
    border-style: solid;
    border-color: #eee;
    padding: 1.5em 0 0.5em;
    margin: 1.5em 0;
    position: relative;
  }
  .content blockquote:before.quote {
    content: '\201C';
    position: absolute;
    top: 0em;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    width: 3rem;
    height: 2rem;
    font: 6em/1.08em 'PT Sans', sans-serif;
    color: #666;
    text-align: center;
  }
  .content blockquote:after.quote {
    content: "\2013 \2003" attr(cite);
    display: block;
    text-align: right;
    font-size: 0.875em;
    color: #e74c3c;
  }

  figure {
    text-align: center;
    padding: 2rem;
  }

  figcaption {
    color: var(--text-color-normal);
    font-size: 80%;
  }


