 <section id="credits">
 <b-row class="text-area">
    <h2>Credits</h2>
     <p>
         This project was created by Baischer Lukas, Leitner Anton, Kulnik Benjamin, Marschner Stefan and Cerv Miha
         for a SoC Lab Project at TU Wien.
     </p>

     <h4>Third Parties</h4>
     <p>
         This project uses third party tools and libraries.
         Namely:
     </p>
     <ul>
        <li>Xilinx Vivado and SDK 2017.4</li>
        <li>Ubuntu 14.04</li>
        <li>Linaro Toolchains for Ubuntu 14.04</li>
        <li>Python v3.6</li>
        <li>SWIG v4.1</li>
        <li>GHDL v0.33</li>
        <li>pdftex</li>
        <li>Any many python software packages. See the corresponding requirement files</li>
    </ul>
</b-row>
</section>