 <section id="network">
 <b-row class="network text-area">
    <h2>The designed Network</h2>
     <p>
         The networks design is based on LeCun's LeNet which was already introduced in 1999.
         We used a combination of Convolutional, Pooling and Fully connected layers.
     </p>
     <figure class="figure center">
        <img class="figure-img img-fluid z-depth-1" alt="The EggNet"
             src="{{ url_for('static', filename='img/eggnet.png') }}" />
         <figcaption class="figure-caption text-right">The famous EggNet designed by Yellow et AL.</figcaption>
     </figure>

    <p>Some text about Network design. Convolutional Neural Network
        <ul>
            <li>Conv-Layer</li>
            <li></li>
        </ul>
    </p>

     <h3>Quantization of the network</h3>
     For a sreal floating point number we can represent it via
     $$ v = Q \cdot 2^{-m}  $$
    where $Q$ and $m$ are integers
</b-row>
</section>