<section id="system-information">
    <b-row class="text-area">
        <h2>System Information</h2>
        <p>
            This sections shows current stats of the system.
        </p>
    </b-row>
    <b-row class="cpu-info" style="padding: 0 3em;">
        <div class="card" style="margin: auto;">
            <div class="card-header">
                <h5 class="m-0">System Information</h5>
            </div>
            <div class="card-body">
        <pre>
                    [[ systemStats ]]
                </pre
                >
            </div>
        </div>
    </b-row>
    <b-row>

        <canvas id="cpu-usage-chart" width="200" height="60" class="chart">
            Your browser does not support the canvas element.
        </canvas>
        <canvas id="cpu-history-chart" width="200" height="60" class="chart">
            Your browser does not support the canvas element.
        </canvas>
    </b-row>
</section>
