.pad-15{
    padding: 1em;
}

.bk-root {
    display: inline-flex;
    padding: 1em 5em;
}
.width-100 {
    width: 100%;
}

.t-align-cent {
    text-align: center;
}

.t-align-cent .inl-blk {
    display: inline-block;
}

.margin-auto {
    margin: auto;
}

.main-content a {
    color: white;
    margin: auto;
}

.main-content .bkg-gray {
    background-color: #f9f9f9;
    margin-left: 0;
    margin-right: 0;
}

.t-align-cent .text-area {
    width: 100%
    padding-left: 2em;
    padding-right: 2em;
    text-align: justify;
    display: inline-block;
}

.interface {
    margin-left: 0;
    margin-right: 0;
    display: block;
}

.scrolling-wrapper {
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
}

.scrolling-wrapper .card {
    display: inline-block;
    /* margin: 10px;*/
    margin-left: 20px;
    margin-right: 20px;

}

.scrolling-wrapper {
  -webkit-overflow-scrolling: touch;
}

.mnist-image {
    width: 200%;
    height: auto;
}

.card {
    margin: 20px;
}

.figure {
    text-align: center;
}

.figure * {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

body {
    counter-reset: h2counter;
}
h1 {
    counter-reset: h2counter;
}
h2:before {
    content: counter(h2counter) ".\0000a0\0000a0";
    counter-increment: h2counter;
    counter-reset: h3counter;
}
h3:before {
    content: counter(h2counter) "." counter(h3counter) ".\0000a0\0000a0";
    counter-increment: h3counter;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.box {
  font-size: 1.25rem; /* 20 */
  background-color: #c8dadf;
  padding: 30px 150px;

  outline: 2px dashed #92b0b3;
  outline-offset: -10px;

  -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
  transition: outline-offset .15s ease-in-out, background-color .15s linear;
}

.box .box__icon {
  width: 100%;
  height: 80px;
  fill: black;
  display: block;
  margin-bottom: 40px;
}
